body {
  margin:0;
  padding:0;
  height:100% auto;
  --background:linear-gradient(rgb(33,27,35), rgb(9, 7, 9));
  --background:rgb(25, 22, 27);
  --background:rgb(56,60,74);
  background-color: rgb(249, 253, 253);
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#promptwrapper {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

#image {
  height:15vw;
  width:calc(100%/5 - 1%);
  margin:.5%;
  object-fit: cover;
  box-shadow:0px 0px 15px rgba(0,0,0,1);
  transition-duration:1s;
}

#image:hover {
  box-shadow:0px 5px 25px rgba(0,0,0,1);
  width:calc(100%/5);
  margin:.2% 0;
  transition-duration:.3s;
}

.form {
  position: relative;
  z-index: 1;
  --background: #FFFFFF;
  --background-color: rgb(119,160,166);
  background-color: rgb(249, 253, 253);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  /* margin:0 auto;
  margin-top:250px;
  height:300px;
  width:25%;
  overflow: auto;
  box-shadow:0px 0px 50px rgba(0,0,0,0.8); */
}

#wrapper {
  width:94%;
  min-height:10vw;
  height: auto;
  overflow: auto;
  --background-color: rgb(119,160,166);
  --background-color: rgb(249, 253, 253);
  background-color: rgb(0, 0, 0, 0.05);
  margin: 0 auto;
  margin-top:2%;
  margin-bottom:5%;
  padding:1%;
  /*box-shadow:0px 0px 50px rgba(0,0,0,0.8);*/
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
  --background-color: rgb(0, 0, 0, 0.2);
  border-radius:4px;
}

#header {
  width:100%;
  height:50px;
  background: linear-gradient(rgba(48,48,48,1), rgba(40,40,40,1));
  vertical-align: middle;
  margin-top:0;
  padding:5px;
}

#logo {
  background-image:url('media/micon2.png');
  background-repeat:no-repeat;
  background-size:contain;
  opacity:0.6;
  float:left;
  height:100%;
  width:50%;
  margin-left:30px;
}


.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(82,148,226);
  width: 100%;
  border: 0;
  padding: 12px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgb(82,148,226);
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 80%;
    max-width: 90%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}


/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    max-width: 60%;
    max-height:80%;
    width: auto;
    height: auto;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#upload_button {
    opacity:.5;
    background-position: right center;
    margin-right:30px;
    height:80%;
    background-repeat:no-repeat;
    width:15%;
    width:auto;
    background-image:url('media/upload.png');
    background-size:contain;
    animation-duration: 0.6s;
    transition:opacity .25s ease-in-out;
}

#upload_button:hover {
    opacity:1;
}

#upload_dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

#upload {
    max-width: 60%;
    max-height:80%;
    width: auto;
    height: auto;
    width:40%;
    height:60%;
    margin:auto;
    background-color: rgb(249, 253, 253);
    border-radius:5px;
    padding:1%;
}
